.login-page{
    display: flex;
    background: rgb(23,162,234);
    background: linear-gradient(125deg, rgba(23,162,234,0.46589057986475846) 8%, rgba(213,23,234,0.46589057986475846) 28%, rgba(219,230,28,0.15216508966867992) 65%, rgba(149,32,227,0.7572071064754027) 100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30em;
    overflow-x: hidden;
    gap: 0.5em;

}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 3em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 25%;
    /* height: 20em; */
    padding-left: 3%;
    padding-right: 3%;
  
    align-items: center;
    z-index: 1;
}

.login-title{
    text-align: center;
}



.home-link, .login-link, .signup-link{
    text-decoration: none;
    color: black;
}

.home-link:hover, .login-link:hover, .signup-link:hover{
    color: rgb(255, 0, 255);
}


.home-link.active, .login-link.active, .signup-link.active{
  color:rgb(95, 59, 129);
  font-weight: bold;
}

.form-item{
    display: flex;
    width: 100%;
    
}

.icon-hold{
    display: flex;
    background-color: rgb(1, 1, 51);
    padding: 10px;
    justify-content: center;
    width: 20px;
}

.icon-hold i{
    color: white;
    text-align: center;
}

.pswd, .email{
    background-color: rgb(4, 59, 87);
    border: none;
    padding: 2px;
    padding-left: 8px;
    width: 100%;
    color: white;
}

::placeholder{
    color: silver;
}


.form-tips{
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 0.6em;
}

.tips{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.remember{
    display: flex;
    gap: 6px;
    align-items: center;
}

.checkbox{
    background-color: rgb(4, 59, 87);
}

.rem-text{
    color:  rgb(4, 59, 87);
    font-size: 0.8em;
}

.forgot-text{
    color:  rgb(4, 59, 87);
    font-size: 0.8em;
    font-style: italic;
    text-decoration: none;
}

.forgot-text:hover{
    color:  rgb(33, 133, 183);  
    /* font-weight: bolder; */
}

.forgot{
    margin-top: 0.5em;
}

.dont-text{
    color:  rgb(4, 59, 87);
    font-size: 0.8em;
    text-align: center;  
}

.user-logo{
    font-size: 5em;
    z-index: 2;
    margin-top: -0.7em;   
    margin-bottom: 0.4em; 
  
}

.submit{
border: none;
background-color: rgba(4, 59, 87, 1);
width: 8em;
height: 2.5em;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: white;
}

.submit:hover{
    background-color: rgba(4, 59, 87, 0.3); 
    color: rgba(4, 59, 87, 1);
}

.activated{
    /* background-color: rgba(174, 207, 245, 0.317); */
    padding: 5px;
    border-radius: 4px;
    color: rgb(19, 3, 100);
    font-weight: bold;
}

.hidepass{
    background-color: rgb(4, 59, 87);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
}
