.login-nav{
    display: flex;
    background-color: rgba(255, 255, 255, 0.323);
    padding: 4px;
    padding-left: 4%;
    padding-right: 5%;
    width: 100%;
    height: 3em;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 5em; */
}

.landing-page-navs, .home-navs, .logo-div, .user-utils, .user-details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-navs{
    margin-right: 48%;
    gap: 1em;
}

.home-navs{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.user-utils{
    margin-right: 10%;
    display: flex;
    align-items: center;
}

.logo-div{
    display: flex;
    gap: 0.3em;
}

.logo-div i{
    font-size: 1.4em;
    color: rgb(192, 59, 168);
    text-shadow: 3px 3px 5px rgb(14, 1, 10);
}

.logo{
    color: rgb(254, 254, 254);
    /* margin-right: 20em; */
    font-weight: bolder;
    font-size: 1.4em;
    text-shadow: 3px 3px 5px rgb(14, 1, 10);
}

.logout {

    border: none;
    color: indigo;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    text-decoration: none;
    background-color: transparent;

}

.logout:hover {
    background-color: rgba(216, 216, 216, 0.4);
    color: rgb(247, 67, 232);

}

.login-link,
.sign-link,
.home-link {
    display: block;
}

.login-link.active,
.signup-link.active,
.home-link.active {
    /* display: none; */
    font-weight: bolder;
    /* background-color: rgb(247, 211, 247); */
    background-color: rgb(197 187 197 / 40%);
    padding: 17px;

}

.reset.active {
    border-radius: 0;
    font-weight: bolder;
    background-color: rgb(247, 211, 247);
    padding: 19px;

}





/* sending email form */

.reset {
    border: none;
    /* background-color: rgb(200, 200, 200); */
    /* color: rgb(165, 24, 48); */
    color: indigo;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    text-decoration: none;
}

.reset:hover {
    background-color: rgba(216, 216, 216, 0.4);
    color: rgb(247, 67, 232);
}

.welcomee{
    margin-left: 1em;
    margin-right: 1em;
}

.userName{
    font-weight: bold;
    color: rgb(41, 0, 70);
   
}

.mod-cont {
    background: rgb(13, 73, 138);
    background: linear-gradient(215deg, rgba(13, 73, 138, 0.7796160700608368) 21%, rgba(23, 234, 206, 0.46589057986475846) 52%, rgba(57, 112, 33, 0.5779353977919293) 82%);
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30em;
}

.mod-box {
    width: 50%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 30, 30, 0.5);
    border-radius: 5px;
    color: white;

}

.reset-email {
    height: 2em;
    border-radius: 4px;
    border: none;
    width: 250px;
    padding-left: 5px;
}



.reset-submit {
    height: 2em;
    background-color: rgb(100, 199, 194);
    color: rgb(17, 32, 32);
    border: none;
    border-radius: 4px;
}

.reset-submit:hover {
    background-color: rgb(40, 66, 66);
    color: lightseagreen;
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 3%;
    align-items: center;
}

.e-form-title {
    color: white;
}

.e-form {
    display: flex;
    gap: 0.5em
}

.success-msg {
    /* background-color: rgba(127, 255, 246, 0.4); */
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;
    color: rgb(17, 32, 32);
    font-size: 1.5em;
    width: 45%;
    text-align: center;
}




/* the password reset form */

.preset-form-cont {
    background: rgb(191, 127, 16);
    background: linear-gradient(317deg, rgba(191, 127, 16, 0.7179914202008928) 21%, rgba(23, 234, 206, 0.46589057986475846) 52%, rgba(98, 33, 112, 0.5779353977919293) 82%);
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.preset-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(21, 1, 5, 0.5);
    height: 20em;
    border-radius: 10px;
    gap: 0.2em;
}


.preset-input {
    height: 2em;
    border: none;
    width: 220px;
    padding-left: 5px;
    outline: none;
}

.preset-submit {
    height: 2em;
    margin-top: 0.8em;
    width: 280px;
    background-color: rgb(100, 199, 194);
    color: rgb(17, 32, 32);
    border: none;
    border-radius: 4px;
}

.preset-submit:hover {
    background-color: rgb(40, 66, 66);
    color: lightseagreen;
}

.preset-done {
    /* background-color: rgba(183, 3, 120, 0.3); */
    padding: 5px;
    border-radius: 5px;
    color: rgb(10, 74, 57);
    font-size: 1em;
    font-weight: bold;
}

.preset-err {
    color: rgb(96, 17, 42);
    font-size: 1em;
    font-weight: bold;
}