.oldpass, .newpass, .confnewpass{
    display: flex;
    flex-direction: row;
}

.hideshowpass{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
}