.signup-page{
    display: flex;
    /* background-color:  rgba(33,40,112,0.5779353977919293); */
    background: rgb(23,162,234);
    background: linear-gradient(95deg, rgba(23,162,234,0.46589057986475846) 8%, rgba(213,23,234,0.46589057986475846) 28%, rgba(219,230,28,0.15216508966867992) 65%, rgba(149,32,227,0.7572071064754027) 100%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30em;
    overflow-x: hidden;
    gap: 2em;

}

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 3em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 25%;
    /* height: 18em; */
    padding-left: 3%;
    padding-right: 3%;
  
    align-items: center;
    z-index: 1;
}

.sign-icon-hold{
    display: flex;
    background-color: rgb(25, 1, 31);
    padding: 10px;
    justify-content: center;
    width: 20px;
}

.sign-icon-hold i{
    color: white;
    text-align: center;
}

.sign-pswd, .sign-email{
    background-color: rgb(92, 56, 94);
    border: none;
    padding: 2px;
    padding-left: 8px;
    width: 100%;
    color: white;
}

.sign-submit{
    border: none;
    background-color: rgb(25, 1, 31);
    width: 8em;
    height: 2.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    /* margin-top: 4em; */
    }

.sign-submit:hover{
    background-color: rgb(156, 113, 165); 
    color: rgb(25, 1, 31);
}

    .form-tip{
        display: flex;
        width: 100%;
        align-items:center;
        gap: 0.5em;
        line-height: 0.6em;
        justify-content: center;
    }

    .log-link{
    font-size: 0.8em;
    text-decoration: none;
    }
    
    .log-link:hover{
        color: orchid;
    }

.email-error, .pswd-error{
    font-size: 0.6em;
    color: brown;
}